<h1>INITIATIVE TRACKER</h1>

<div class="initContainer contentBox">

	<div class="flexCol">
		<div>
			<h2>Players</h2>
			<form>
				NAME <input ng-model="inputs.newPlayerName" />
				<button ng-click="addPlayer()">ADD</button>
			</form>
			<div ng-show="players.length > 0">
				<button ng-click="showPlayers = false" ng-show="showPlayers">HIDE</button>
				<button ng-click="showPlayers = true" ng-show="!showPlayers">SHOW</button>
				<button ng-click="players=[]">CLEAR</button>
				<button ng-click="addAllPlayersToInitiative()" ng-show="players.length > 1">ADD ALL</button>
			</div>
			<table class="initTable" ng-show="players.length > 0 && showPlayers">
				<tr ng-repeat="player in players">
					<td><img ng-src="images/trashcan_icon.png" class="inline-square remove-icon" ng-click="removePlayer(player)" title="Remove"/></td>
					<td>
						<img ng-src="images/heart_icon_red.png" class="inline-square" title="Player"/>
						{{player.name}}
					</td>
					<td><form>
						MOD: <input ng-model="player.mod" size=1 />
						<button ng-click="addPlayerToInitiative(player)">+</button>
					</form></td>
				</tr>
			</table>
		</div>
		<div>
			<h2>Monsters</h2>
			<h3>Encounters</h3>
			<table class="initTable">
				<tr ng-repeat="encounter in encounters" ng-click="scope.currentEncounter = encounter">
					<td>
						{{encounter.name}}
					</td>
					<td>
						({{encounter.monsters.length}})
					</td>
				</tr>
			</table>
			<br>
			<button ng-click="newEncounter()">NEW</button>
			<button ng-click="deleteEncounter()">DELETE</button>
			<br>
			ENCOUNTER <input ng-model="currentEncounter.name" />
			<br>
			ADD MONSTERS
			<br>
			<form>
				NAME <input ng-model="inputs.newMonster" />
				<br>
				HEALTH <input ng-model="inputs.newMonsterHealth" size=1 />
				INIT MOD <input ng-model="inputs.newMonsterInitMod" size=1 />
				<br>
				QUANTITY <input ng-model="inputs.numNewMonsters" size=1 />
				<button ng-click="addMonsterToEncounter()">ADD</button>
			</form>
			<div ng-show="currentEncounter.monsters.length > 0">
				<button ng-click="currentEncounter.monsters=[]">CLEAR</button>
				<button ng-click="addEncounterToInitiative()" ng-show="currentEncounter.monsters.length > 1">ADD ALL</button>
			</div>
			<table class="initTable" ng-show="currentEncounter.monsters.length > 0">
				<tr ng-repeat="monster in currentEncounter.monsters">
					<td><img ng-src="images/trashcan_icon.png" class="inline-square remove-icon" ng-click="removeMonsterFromEncounter(monster)" title="Remove"/></td>
					<td>
						<img ng-src="images/heart_icon_black.png" class="inline-square" title="Monster"/>
						{{monster.name}}
					</td>
					<td>
						<img ng-src="images/potion_icon_black.png" class="inline-square" title="Health"/>
						{{monster.health}}
					</td>
					<td><form>
						<input ng-model="monster.initiative" size=1 />
						<span ng-show="monster.mod >= 0">+</span>{{monster.mod}}
						<button ng-click="addMonsterToInitiative(monster)">+</button>
					</form></td>
				</tr>
			</table>
		</div>
	</div>
	<div>
		<h2>Initiative Order</h2>
		<button ng-click="initiativeOrder = []; active = 0" ng-show="initiativeOrder.length > 0">CLEAR</button>
		<button ng-click="previousTurn()" ng-show="initiativeOrder.length > 0">PREVIOUS</button>
		<button ng-click="advanceTurn()" ng-show="initiativeOrder.length > 0">ADVANCE</button>
		<table class="initTable" ng-show="initiativeOrder.length > 0">
			<tr ng-repeat="creature in initiativeOrder" ng-class="{delayed: creature.delayed, inactive: creature.health <= 0, active: creature == initiativeOrder[active]}" draggable=true>
				<td>
					<a><img ng-src="images/arrow_up_icon_black.png" ng-click="reorderInitiative(creature, -1)" class="inline-square" title="Move Up"/></a>
					<a><img ng-src="images/arrow_down_icon_black.png" ng-click="reorderInitiative(creature, 1)" class="inline-square" title="Move Down"/></a>
				</td>
				<td><img ng-src="images/trashcan_icon.png" class="inline-square remove-icon" ng-click="removeFromInititiative(creature)" title="Remove"/></td>
				<td>
					<img ng-src="images/heart_icon_red.png" class="inline-square" ng-show="creature.type=='player'" title="Player"/>
					<img ng-src="images/heart_icon_black.png" class="inline-square" ng-show="creature.type=='monster'" title="Monster"/>
					{{creature.name}}
				</td>
				<td>
					<button ng-click="delayCreature(creature)" ng-show="creature.delayed === false">DELAY</button>
					<button ng-click="undelayCreature(creature)" ng-show="creature.delayed">UNDELAY</button>
				</td>
				<td ng-class="{inactive: creature.reordered}">
					<img ng-src="images/shoes_icon.png" class="inline-square" title="Initiative"/>
					{{creature.initiative}}
				</td>
				<td><span ng-if="creature.type=='monster'">
					<img ng-src="images/potion_icon_black.png" class="inline-square" ng-show="creature.health > creature.fullHealth/2" title="Health"/>
					<img ng-src="images/potion_icon_red.png" class="inline-square" ng-show="creature.health <= creature.fullHealth/2" title="Health"/>
					{{creature.health}}
				</span></td>
				<td><span ng-if="creature.type=='monster'">
					<input ng-model="creature.damage" size=2 />
					<a><img ng-src="images/gun_icon_black.png" class="inline-square" ng-click="damageMonster(creature)" title="Damage"/></a>
				</span></td>
				<td>
					<img ng-src="images/notebook_icon.png" class="inline-square" title="Notes"/>
					<input size=10 />
				</td>
			</tr>
		</table>
	</div>

</div>
