.hasTurn {
	font-weight: bold;
}

.initContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.addForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.condition:hover {
	cursor: pointer;
}

.condition:hover::after {
	color: red;
	content: "X ";
}