<div>Roll Dice!</div>

<div>
	<button ng-click="addDie(1,4)">Add 1d4</button>
	<button ng-click="addDie(1,6)">Add 1d6</button>
	<button ng-click="addDie(1,8)">Add 1d8</button>
	<button ng-click="addDie(1,10)">Add 1d10</button>
	<button ng-click="addDie(1,12)">Add 1d12</button>
	<button ng-click="addDie(1,20)">Add 1d20</button>
	<button ng-click="addDie(1,100)">Add 1d100</button>
</div>

<div>
	<button ng-click="rollDice()">Roll Dice</button>
	<button ng-click="reset()">Reset</button>
</div>

<div>Result: {{result}}</div>

<div>Dice: {{dice}}</div>